//
//  Inforu-Test.xcconfig
//  Inforu
//
//  Created by Rahul Dhiman on 15/06/19.
//  Copyright © 2019 Deepak. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /

APP_NAME = Inforu_T
BASE_URL = http:$(SLASH)/13.232.233.145:3000/
