//
//  Inforu-Live.xcconfig
//  Inforu
//
//  Created by Rahul Dhiman on 15/06/19.
//  Copyright © 2019 Deepak. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /

APP_NAME = FOTD
BASE_URL = http:$(SLASH)/159.65.145.163:8000/
