//
//  Inforu-Dev.xcconfig
//  Inforu
//
//  Created by Rahul Dhiman on 15/06/19.
//  Copyright © 2022 Rahul. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /

APP_NAME = FOTD_D
BASE_URL = http:$(SLASH)/152.67.10.2:8000/
